[Unit]
Description=Nginx Exporter
After=network-online.target
StartLimitIntervalSec=0

[Service]
User={{ nginx_exporter_user }}
Group={{ nginx_exporter_group }}
Type=simple
ExecStart={{ nginx_exporter_install_dir }}/nginx_exporter \
          -nginx.scrape-uri={{ nginx_exporter_scrape_address }}:{{ nginx_exporter_scrape_port }}{{ nginx_exporter_metrics_path }} \
          -web.listen-address={{ nginx_exporter_listen_address }}:{{ nginx_exporter_listen_port }}
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
